/* Navbar style */
.navbar {
  background-color: #fff;
  height: 46px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: fixed; /* Fixes the navbar to the top */
  top: 0;
  width: 100%;
  z-index: 9999;
}

body {
  padding-top: 56px; /* Adds space to the top to accommodate the fixed navbar */
  background-color: #e8d8d1;
}

.form-control {
  margin-bottom: 20px;
}

.btn {
  border-radius: 50px;
}

.btn:hover {
  cursor: pointer;
}

.navbar a {
  color: #66757f;
  font-size: 13px;
  font-weight: bold;
}

.navbar a:hover {
  color: #1c94e0;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.nav > li > a > img {
  width: 32px;
  border-radius: 32px;
}

ul.nav.navbar-nav {
  align-items: center;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
  display: flex;
}

#search.form-control {
  border-radius: 20px;
  margin-bottom: 0;
  width: 100%;
  font-size: 13px;
  padding-right: 28px;
  box-sizing: border-box;
}

@media (max-width: 468px) {
  nav form.navbar-form {
      display: none;
  }
}

nav + .container {
  margin-bottom: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.img-fluid {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.col-md-4 {
  padding: 5px;
}

a {
  text-decoration: none;
}

.recipe-card {
  position: relative;
  padding: 10px;
  border-radius: 5px;
  border: none;
  max-width: 100%;
}

.fav-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.centered-heading {
  text-align: center;
}

/* Center the form container */
.row.justify-content-md-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Form container styling */
.col-md-6 {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Form heading */
h2.text-center.my-4 {
  color: #343a40;
}

/* Form fields */
.form-control {
  margin-bottom: 10px;
}

/* Form checkboxes */
.form-check {
  margin-bottom: 10px;
}

/* Button styling */
.btn-primary.btn-block {
  background-color: #007bff;
  border: none;
  padding: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-primary.btn-block:hover {
  background-color: #0056b3;
}
