{% extends 'base.html'%}
{% block title %} HomePage {% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      {% for recipe in recipes %}
        <div class="col-md-3 mb-4">
          <div class="p-2" style="border: 1px solid #ddd; border-radius: 5px;">
            <img src="{{ recipe.image }}" alt="img" class="img-fluid">
            <p><a href="/recipes/{{recipe.id}}/info">{{recipe.title}}</a></p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}